* {
    font-family: Segue UI;
}

.heading {
    text-align: center;
}

.clubs_display {
    display: flex;
}

.clubs {
    border: 3px outset black;
    border-radius: 25px;
    flex:1;
    background-color: lightgreen;
    text-align: center;
    width: 20%;
    height: 300px;
    margin: 10px;
    font-size: 30px;
}

.plusminus {
    width: 40px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
}

.radio {
    font-size: 20px;
}

.message {
    font-size: 20px;
}

.capacity {

}